/* GENERAL */

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 22px;
}

h3 {
    font-size: 18px;
    color: #b80031;
}

.container {
    width: 1160px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    margin: auto;
}

.btn_red {
    border: none;
    background-color: #b80031;
    color: #fff;
    width: 236px;
    
    text-align: center;
}

p {
    font-size: 16px;
}

section {
    width: 1160px;
    margin: 80px auto 0 auto;
}

/* HEADER */

header {
    background-color: #8fb900;    
    color: #fff;
}

.btn {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding: 12px;
    border: 2px solid #fff;
    font-weight: bold;
    display: block;
}

header a:hover {
    color: #8fb900;
    background-color: #fff;
}

/* SECTION MAIN IMG */

.main_image {
    position: relative;    ;
}

.main_image div {
   background-color: rgba(184, 0, 49, 0.4);
   height: 55px;
   display: flex; 
   align-items: center;
   position: absolute;
   bottom: 6px;
   left: 0;
   width: 100%;
}

.main_image p {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    margin: 0 17px;
}

/* ITEMS */

.item {
    margin-top: 25px;
    width: 280px;
    border: 1px solid #b80031;      
}

.item_description {
    padding: 10px;
}

.container_item {
    display: flex;
    justify-content: space-between;
}

/* BUSINESS */

.business {
    display: flex;
    justify-content: space-between;
}

.description_business {
    width: 570px;
}

/* FOOTER */

footer {
    background-color: #8fb900;
    color: #fff;
    margin-top: 80px;
}

footer a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;   
    margin-left: 10px;
}

footer p {
    font-size: 22px;
    font-weight: bold;    
}